
* {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
  }

.upper_left {
    float: left;
    width: 33%;
    background-color: #66ffff;
}

.upper_left p {
  font-size: 423.6%;
  font-weight: bold;
  color: blue;
  padding: 5.9%;
}

.upper_middle {
	float: left;
	background-color: #3b3a3a;
	color: white;
	font-size: 200%;
	width: 37%;
	text-align: center;
}

.input_methods p {
    padding: 3%;
    font-weight: bold;
}

.upper_middle .input_methods button {
	font-size: 110%;
	border-radius: 15px;
	padding: 7px;
	font-weight: bold;
        outline: none;
        margin-bottom: 2.5%;
}

.upper_middle .input_methods button:hover {
	background-color: #ff00ff;
	color: #ffffff;
        cursor: pointer;
}

.upper_right {
	float: right;
	background-color: #3b3a3a;
	width: 30%;
	text-align: center;
	clear: right;
}

.upper_right .algo button {
	font-size: 187%;
	margin-top: 4%;
        margin-bottom: 5%;
        margin-right: 5%;
	padding: 2%;
	border-radius: 8px;
	font-weight: bold;
}

.upper_right .algo button:hover {
	background-color: #00ff00;
	color: red;
        cursor: pointer;
}

 .upper_right .algo .butt_locked {
 background-color: white;
 color: black;
}

 .upper_right .algo .butt_locked:hover {
  background-color: white;
  color: black;
}

.upper_middle .input_methods .gen_locked {
  background-color: white;
  color: black;
}

.upper_middle .input_methods .gen_locked:hover {
  background-color: white;
  color: black;
}

.upper_right .algo .butt_selected {
 background-color: #00ff00;
  color: red;
}

.upper_right .algo .butt_selected:hover {
  background-color: #00ff00;
  color: red;
}

section {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: #99ccff;
}

section #array_container {
  display: flex;
  height: 80vh;
}